p {
    margin: 0;
    padding: 0;
}

a {
    color: #0091EA;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    background-color: #111111;
    color: #e3e3e3;
    font-family: Montserrat, sans-serif;
}

#container {
    width: 100%;
    height: 100%;
    text-align: center;
}

#title {
    font-size: 70px;
    margin-bottom: 3px;
    margin-top: 10px;
}

#subtitle {
    font-size: 30px;
    margin-bottom: 35px;
}

#url-input {
    height: 40px;
    width: 400px;
    margin-bottom: 20px;

    font-size: 17px;
    text-align: center;

    border-radius: 5px;
    border: 0;
}

#download-input {
    width: 135px;
    height: 45px;

    background-color: #24a8fa;
    color: #ffffff;
    border: 0;
    box-shadow: none;
    border-radius: 4px;
    font-size: 25px;
}

#warning {
    margin-top: 10px;
    font-size: 20px;
    color: #FF3D00;
}

#info {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: none;
}

.url {
    font-size: 30px;
}

.quality-container {
    margin-top: 30px;
}

.quality-title {
    font-size: 35px;
    margin-bottom: 10px;
}

.quality-button {
    width: 135px;
    height: 45px;

    color: #ffffff;
    border: 0;
    box-shadow: none;
    border-radius: 4px;
    font-size: 25px;
}

.quality-avaible {
    background-color: #00E676;
}

.quality-unavaible {
    background-color: #F4511E;
    width: 200px;
}
